:root {
    --primary-color: #1A237E;
    --secondary-color: #3949AB;
    --text-primary-color: #1F2937;
    --text-secondary-color: #6B7280;
    --background-color: #F5F6FA;
    --accent-color: #5C6BC0;
    --border-color: #E5E7EB;
    --success-color: #16A34A;
    --error-color: #DC2626;
    --warning-color: #F59E0B;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}

td,
th {
    padding: 8px;
    font-size: 14px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #fff;
}

tr:hover {
    background-color: #ddd;
}

tr {
    border-radius: 5px;
}

th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #1A237E;
    color: white;
    font-size: medium;
    font-weight: 300;
}

.container {
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    margin-left: 190px;

}


.questions-table {
    margin-top: 10px;
}

.question-modal-wrapper {
    top: 50%;
    width: 500px;
    height: 700px;
    font-size: 12px
}


.quetion-modal-close-btn {
    cursor: pointer;
}

.quetion-modal-close-btn:hover {
    transform: scale(1.05);
}

.question-form-input {
    display: flex;
    flex-direction: column;
}


.question-form-input div {
    margin-top: 10px;
}


.question-form-input label {
    margin-top: 10px;
}

.question-form-input input {
    margin-top: 10px;
}

.question-answers-list {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.question-answers-list-div {
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.answer-input {
    width: 90%;
}
.question-remove-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #FFCFCF;
    border-radius: 5px;
    cursor: pointer
}


.question-table-link-col {
    font-weight: 500;
    cursor: pointer;
}
.question-table-link-col:hover {
    color: var(--accent-color)
}